
.fa-long-arrow-right{color:$orange;}

#profil{
	margin-bottom: 1000px;
	.head {
		background-image: url("/assets/img/background-profil.jpg");
		background-size: cover;
		max-width: 100%;
		height: 600px;
	}
	.wrapLeft{
		position:relative;
		top: -50px;
		width: 37vw;
		float : left;
		.myAccount{
			width: 33vw;
			height: 460px;
			margin-bottom: 20px;
			background-color: $gray;
			border: 1px solid $grayDark;
			margin-left: 40px;

			h2{
				text-align: center;
				font-size: 22px;
				color:$black
			}

			p{
				font-size: 12px;
				color: $black;
				text-align: center;
			}

			.mail{
				height: 83px;
					p::before{
						opacity: 0.7;
						content: "";
					    width: 31%;
					    height: 2px;
					    background-color: $grayDark;
					    display: inline-block;
					    vertical-align: middle;
					    position: relative;
					    margin-right: 2%;
					   
					}

					p::after{
						opacity: 0.7;
						content: "";
					    width: 31%;
					    height: 2px;
					    background-color: $grayDark;
					    display: inline-block;
					    vertical-align: middle;
					    position: relative;
					    margin-left: 2%;
							   
					}
				div{
					width: 100%;
					text-align: center;
					font-weight: bold;
				}

			}
			.money{
				height: 63px;
				p::before{
					opacity: 0.7;
					content: "";
				    width: 31%;
				    height: 2px;
				    background-color: $grayDark;
				    display: inline-block;
				    vertical-align: middle;
				    position: relative;
				    margin-right: 2%;
				   
				}

				p::after{
					opacity: 0.7;
					content: "";
				    width: 31%;
				    height: 2px;
				    background-color: $grayDark;
				    display: inline-block;
				    vertical-align: middle;
				    position: relative;
				    margin-left: 2%;
						   
				}
				div{
					width: 100%;
					text-align: center;
					font-weight: bold;
				}
			}
			.addCash{
				height: 180px;
				text-align: center;

				div{
					width: 100%;
					height: 40px;
					text-align: center;
					font-size: 13px;
					top: -10px;
					position:relative;

				}
				form{
					input{
						text-align: center;
					}
				}
			}

			a {
				text-decoration: none;
				display: block;
				line-height: 40px;
				position: relative;
				text-align: center;
				color: $white;
				background-color:$black;
				border : 0px;
				bottom:30px;
				width: 90%;
				height: 40px;
				margin-left: 5%;
			}
		}
		.nextBets{
			width: 33vw;
			height: auto;
			background-color: $gray;
			border: 1px solid $grayDark;
			margin-left: 40px;
			padding-bottom: 25px;
			text-align: center;

			h2{
				text-align: center;
			}
			p {
				text-transform: uppercase;
				font-size: 12px;
			}
			p::before{
				opacity: 0.7;
				content: "";
			    width: 31%;
			    height: 2px;
			    background-color: $grayDark;
			    display: inline-block;
			    vertical-align: middle;
			    position: relative;
			    margin-right: 2%;
			   
			}

			p::after{
				opacity: 0.7;
				content: "";
			    width: 31%;
			    height: 2px;
			    background-color: $grayDark;
			    display: inline-block;
			    vertical-align: middle;
			    position: relative;
			    margin-left: 2%;
					   
			}
			
			table{
				text-align: left;
				margin-left: 5%;
				width: 90%;
				font-weight: bold;

				td{
					line-height: 32px;
				}
				.time{
					text-align: right;
					font-size: 12px;
					color:$black;
				}

				.destination{
					text-align: right;
				}
			}
		}
	}
	
	.betsOngoing{
		width: 57vw;
		margin-right: 40px;
		height: 500px;
		top: -50px;
		float: right;
		position: relative;

		.bets{
			width: 100%;
			height: 340px;
			margin-bottom: 20px;
			background-color: $gray;
			border: 1px solid $grayDark;

			h2{
				font-size: 25px;
				margin-bottom: 5px;
			}

		}
		.bet1{
			text-align: center;
			h3{
				margin-top: 0px;
				font-size: 13px;
				font-weight: 200;
				text-transform: uppercase;
			}
			.time{
				padding-top: 5px;
				color: $grayNight;
				font-size: 13px; 
			}
			.main{
				width: 100%;
				height: 140px;
				position:relative;
				.course{
					float: left;
					position: relative;
					width: 50%;
					p{
						color: $orange;
						margin-left: -40%;
					}
					p::before{
						opacity: 0.7;
						content: "";
					    width: 8%;
					    height: 2px;
					    background-color: $grayDark;
					    display: inline-block;
					    vertical-align: middle;
					    position: relative;
					    margin-right: 2%;
					}
					
				}
				.form{
					position: relative;
					top:0px;
					width: 50%;
					height: 4px;
					float: right;
					p{
						font-weight: bold;
					}

					label{
						color: $orange;
					    float: left;
					    clear: left;
					    width: 200px;
					    text-align: right;
					    margin-bottom: 10px;
					}

					input{
						position:relative;
						top: -38px;
					  	width: 100px;
					  	margin-right: 80px;
						float: right;
    					clear:both;
    					text-align: center;
    					margin-bottom: 10px;
					}
				}
			}
			a{
				display: block;
				margin: 0 auto;
				line-height: 40px;
				background-color: $orange;
				color: $white;
				width: 50%;
				height: 40px;
				border: none;
			}
		}
		.betElse{
			text-align: center;
			height:auto;
			padding-bottom: 25px;

			h3{
				margin-top: 0px;
				font-size: 13px;
				font-weight: 200;
				text-transform: uppercase;
			}

			.time{
				padding-top: 5px;
				color: $grayNight;
				font-size: 13px; 
			}

			.main{
				height: 80px;
				p{
					display: inline-block;
					font-weight: bold;
					margin-right: 70px;
					margin-left: 20px;
				}
				form{
					display: inline-block;
					

					label{
						color: $orange;
						margin-right: 5px;
						margin-left: 10px;
					}

					input{
						text-align: center;
					}
				}
			}
			a{
				display: block;
				margin: 0 auto;
				line-height: 40px;
				background-color: $orange;
				color: $white;
				width: 50%;
				height: 40px;
				border: none;

			}
		}
	}
	input.send {
		line-height: 27px;
		text-align: center;
		width: 250px !important;
		height: 30px;
		border:none;
		text-transform: uppercase;
		background-color: $orange;
		text-decoration: none;
		color: $whiteDark;
	}
	footer {
		margin-top: 950px;
	}
}
