<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>4L Trophy</title>
  <link rel="stylesheet" href="/css/remodal.css">
  <link rel="stylesheet" href="/css/remodal-default-theme.css">
  <link rel="stylesheet" href="/css/app.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
  <div class="container remodal-bg">
  {{{body}}}
  <footer>
    <ul>
      <li>
        <img src="/assets/img/icons/paypal.png" alt="Paypal">
      </li>
      <li>
        Les jeux d’argent et de hasard sont strictement interdits aux mineurs.
      </li>
      <li><a href="/about">À propos</a></li>
      <li><a href="/rules">Régle du jeu</a></li>
      <li><a href="/cgu">CGU</a></li>
    </ul>
  </footer>
  </div>

  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/remodal.min.js"></script>
</body>
</html>