<article class="remodal connexion" data-remodal-id="connexion">
    
    <a data-remodal-action="close" class="remodal-close">
        <span></span>
        <span></span>
    </a>
    <h3>Connexion</h3>
    <p class="information">Veuillez entrer vos identifiants</p>
    <br>
    
    <form>
        <div class="account">
            <label for="nom" >Adresse e-mail</label>
            <input placeholder="account@hetic.net" id="nom" type="text">
        </div>
        <div class="mdp">
            <label for="mdp">Mot de passe</label>
            <input placeholder="••••••••••" id="mdp" type="text">
        </div>
        <a href="#" class="button_modal origin">se connecter</a>
        <a href="#" class="button_modal fb">se connecter avec facebook</a>
    </form>
    <p>Vous ne possedez pas de compte ? <a href="#signup">Inscrivez vous</a></p>
    
</article>