<article class="remodal signup" data-remodal-id="signup">
    
    <a data-remodal-action="close" class="remodal-close">
        <span></span>
        <span></span>
    </a>
    <h3>Inscription</h3>
    <p class="information">Veuillez entrer vos identifiants</p>
    <br>
    
    <form>
        <div class="account">
            <label for="nom_signup" >Adresse e-mail</label>
            <input placeholder="account@hetic.net" id="nom_signup" type="text">
        </div>
        <div class="mdp">
            <label for="mdp_signup">Mot de passe</label>
            <input placeholder="••••••••••" id="mdp_signup" type="text">
        </div>
         <div class="mdp">
            <label for="confirm_signup">Confirmation</label>
            <input placeholder="••••••••••" id="confirm_signup" type="text">
        </div>
        <button data-remodal-action="" class="button_modal origin">s'inscrire</button>
    </form>

</article>