<article class="remodal successful" data-remodal-id="successful">
    
    <h3>Félicitations</h3>
    <br>
    <p class="information">Vous venez d'effectuer un pari avec succès !</p>
    <br>

</article>