<section id="mentions">
	<article>
		<header>
			<h1>À propos</h1>
			<a href="/">Retourner sur le site</a>
		</header>
		<p>Merci de lire avec attentions les différentes modalités d’utilisation du présent site avant d’y parcourir ses pages. En vous connectant sur ce site, vous acceptez sans réserves les présentes modalités. Aussi, conformément de l’Article n°6 de la Loi n°2004-575 du 21 Juin 2004 pour la confiance dans l’économie numérique, les responsables du présent site internet.</p>
		<hr />
		<h2>Bet Trophy c'est sûr, simple et ça peut rapporter !</h2>
		<p>Bet Trophy vous ouvre le monde excitant et passionnant du pari autour du 4L Trophy.
		Que vous soyez novice ou expérimenté, vous apprécierez le site Bet Trophy pour sa simplicité, sa facilité d'utilisation et sa convivialité.
		</p>
		<h2>Une offre riche & complète</h2>
		<p>Bet Trophy possède une offre de paris sportifs complète. Vous pouvez parier sur l'ensemble des sports autorisés par l'Arjel.
		</p>
		<h2>Un service sécurisé & de confiance</h2>
		<p>Bet Trophy travaille avec les meilleurs opérateurs pour vous garantir des conditions de jeux optimums et totalement sécurisées.</p>
		<h2>Une réelle chance de gagner</h2>
		<p>Sur Bet Trophy vous allez pouvoir gagner de l’argent en pariant et en jouant juste, et avez la possibilité, si bon vous le semble, de faire un don à l’association « enfants du désert »</p>
	</article>
</section>