<section id="admin">
	
	<article class="message">
		<a class="back" href="/"><i class="fa-chevron-right fa-lg"></i>Retour à l'accueil</a>
		<h2>Bonjour Pauline & Margaux</h2>
		<p class="infos">Merci d'ajouter les informations de fin d'étape.<p>
		<label class="km">Kilométres</label><input type="text" placeholder="kilomètres" name="kilomètres"> 
		<label class="rank">Position à la fin du raid</label><input type="text" placeholder="Position" name="position">
		<hr />
			<label class="city">Prochaine ville</label><input type="text" placeholder="ville" name="ville">
			<label class="checkbox">Êtes-vous toujours en course ?</label><input type="checkbox">
		<div class="action">
			<a href="/">Valider</a>
		</div>
	</article>

</section>