<section id="mentions">
		<article>
			<header>
				<h1>CGU</h1>
				<a class="back" href="/">Retourner sur le site</a>
			</header>
			<a href="#INTRODUCTION">1. INTRODUCTION</a> 

			<a href="#INTERPRETATION">2. INTERPRÉTATION</a>

			<a href="#INSCRIPTION">3. INSCRIPTION ET OUVERTURE DE VOTRE COMPTE</a>

			<a href="#TRAITEMENT">4. TRAITEMENT DE VOS DONNÉES PERSONNELLES</a> 

			<a href="#DEVISES">5. DEVISES MONÉTAIRES</a>

			<a href="#DEPOTS">6. DÉPÔTS ET RETRAITS</a> 

			<a href="#UTILISATION">7. UTILISATION DE VOTRE COMPTE JOUEUR BETTROPHY.FR</a>

			<a href="#DESACTIVATION">8. DÉSACTIVATION ET CLÔTURE DE COMPTE</a> 

			<a href="#PRELEVEMENTS">9. PRÉLÈVEMENTS SUR LES JEUX ET PARIS</a> 

			<a href="#IMPOTS">10. IMPÔTS</a>

			<a href="#ACTIVITES">11. ACTIVITÉS PROMOTIONNELLES</a> 

			<a href="#JEU">12. JEU RESPONSABLE</a>

			<a href="#PROPRIETE">13. PROPRIÉTÉ INTELLECTUELLE</a> 

			<a href="#INDEMNITE">14. INDEMNITÉ</a> 

			<a href="#LIMITATION">15. LIMITATION DE RESPONSABILITÉ</a>

			<a href="#ERREURS">16. ERREURS LOGICIELLES</a> 

			<a href="#PLAN">17. PLAN DE REPRISE D'ACTIVITÉ</a> 

			<a href="#SERVICE">18. SERVICE CLIENT</a> 

			<a href="#LANGUE">19. LANGUE</a> 

			<a href="#MODIFICATION">20. MODIFICATION DES CONDITIONS GÉNÉRALES</a>

			<a href="#LOI">21. LOI APPLICABLE</a>

			<br />
			<br />
			<br />
			<hr />
			<br />
			<br />
			<br />

			
			<h2 id="INTRODUCTION">1. Introduction</h2>
			<h3>1.1</h3>
			<p>Les présentes Conditions Générales régissent votre utilisation du site disponible à l'url www.bettrophy.fr et exploité par Bet Trophy.</p>
			<h3>1.2</h3>
			<p>Toute référence à « vous » et à « votre » se rapporte à vous, l'utilisateur du Site.</p>
			<h3>1.3</h3>
			<p>Le Site n'est accessible qu'aux personnes ayant l'âge légal requis par la loi qui leur est applicable et est en tout état de cause interdit aux moins de 18 ans. Il est de votre responsabilité de lire et comprendre nos Conditions Générales d'utilisation du Site avant d'accepter d'être lié par elles.</p>
			<h3>1.4</h3>
			<p>En cochant la case « Je certifie (…) avoir pris connaissance (…) » sur la page d'inscription, vous confirmez que vous avez lu et accepté : les présentes « Conditions Générales » du Site, ainsi que : la « Charte sur le Respect de la Vie Privée » ; les « Règles de Paris et de Jeux » comprenant les règles applicables aux paris sportifs;
			les « Règles des bonus » ;les « Conditions Spéciales » afférentes aux différentes offres promotionnelles et bonus ;
			<h3>1.5</h3>
			<p>Si vous n'êtes pas d'accord avec les termes de nos Conditions Générales et n'acceptez pas d'être lié par elles, vous devez quitter le Site immédiatement et le cas échéant, enlever sans tarder tout logiciel qui aurait été téléchargé du Site sur votre ordinateur.</p>
			<h3>1.6</h3>
			<p>Les présentes Conditions Générales cessent d'exister et de s'appliquer si l'une des parties vient à cesser d'exister.</p>
			<h2 id="INTERPRETATION">2. Interprétation</h2>
			<h3>2.1</h3>
			<h4>2.1.1</h4>
			<p>En cas de conflit entre ces Conditions Générales et tout autre document qui y est visé, les présentes Conditions Générales prévalent ;</p>
			<h4>2.1.2</h4>
			<p>Dans le cas où l'une des dispositions des présentes Conditions Générales viendrait à être déclarée nulle ou inapplicable, elle devra alors être considérée comme étant remplacée par une disposition valable reflétant le plus fidèlement possible l'objectif poursuivi par la disposition initiale. Les autres dispositions n'en seront pas affectées et produiront leurs pleins effets ;</p>
			<h4>2.1.3</h4>
			<p>Les présentes Conditions Générales constituent l'intégralité de l'accord conclu entre vous et nous au sujet de votre utilisation du Site et se substituent, le cas échéant, à tout accord antérieur ;</p>
			<h4>2.1.4</h4>
			<p>Le fait de ne pas exercer nos droits issus des présentes Conditions Générales ne constitue en aucun cas une renonciation ou une perte de ces droits.</p>
			<h3>3. Inscription et Ouverture de votre compte</h3>
			<h4>3.1</h4>
			<p>L’activité de pari ou de jeu d’argent n’est possible qu’après votre inscription sur le Site et l'ouverture de votre compte joueur bettrophy.fr (ci-après «le Compte bettrophy »). Vous pouvez vous inscrire en remplissant le formulaire d'inscription disponible sur le Site dans la rubrique « inscrivez-vous ».</p>
			<h3>3.2</h3>
			<p>Lorsque vous vous inscrivez et que vous sollicitez l'ouverture de votre Compte Bet Trophy, vous déclarez et garantissez que :</p>
			</h4>3.2.1</h4>
			<p>Vous avez au moins dix-huit (18) ans. Vous reconnaissez que l'utilisation des services du Site (« les Services ») est interdite aux mineurs et que vous n'aiderez pas un mineur à demander l'ouverture ou à utiliser un Compte Bet Trophy ;</p>
			<h4>3.2.2</h4>
			<p>Vous êtes une personne physique, la création et l'utilisation d'un Compte Bet Trophy étant interdites aux robots informatiques et aux personnes morales conformément aux dispositions légales ;</p>
			<h4>3.2.3</h4>
			<p>Vous n'êtes pas répertorié sur le fichier national des Interdits de Jeux. Bet Trophy vérifiera votre statut d'interdit de jeux au moment de votre inscription, après chaque modification éventuelle de vos données personnelles, puis régulièrement conformément aux dispositions légales en vigueur et se réserve ainsi à tout moment le droit de clôturer votre Compte Bet Trophy et de vous refuser l’ouverture d’un compte Bet Trophy le cas échéant ;</p>
			<h4>3.2.4</h4>
			<p>Vous vous conformerez à tout moment aux présentes Conditions Générales ;</p>
			<h4>3.2.5</h4>
			<p>Toute information fournie par vous, pour votre inscription et pour l'ouverture de Compte Bet Trophy ainsi que dans le cadre de votre utilisation du Site est complète, précise, à jour et non mensongère. Vous devez vous assurer de la concordance entre les données que vous fournissez lors de votre inscription sur le Site et celles des pièces justificatives que vous devrez nous envoyer. En cas de non concordance, conformément à la Règlementation, Bet Trophy se verra dans l’obligation de clôturer votre Compte et de conserver son éventuel solde.   Conformément à la Règlementation, en cas de non-concordance entre les informations que vous avez fournies et les données figurant sur vos pièces justificatives : Si celle-ci ne résulte pas d’une simple erreur matérielle de saisie, nous devrons clôturer votre compte et conserver son éventuel solde Si celle-ci résulte d’une simple erreur matérielle de saisie, nous vous avisons sans délai et vous proposons de rectifier ces informations afin qu’elles coïncident avec les données figurant sur vos pièces justificatives. À compter de cet avertissement, vous avez sept jours pour nous confirmer votre accord afin que nous procédions à la rectification nécessaire. À défaut d’accord sous sept jours, nous devrons clôturer votre compte et conserver son éventuel solde.</p>
			<h3>3.3</h3>
			<p>En acceptant les présentes Conditions Générales vous déclarez que la source des fonds que vous utilisez sur le Site est légale et que vous n'utiliserez pas le Site à des fins d'activités illégales ou frauduleuses, telles que le blanchiment d'argent. Des poursuites pénales et/ou civiles peuvent être intentées contre vous et toute autre personne qui serait impliquée dans une telle activité, et nous nous réservons le droit discrétionnaire de transmettre toute information, comprenant notamment vos données personnelles, qui nous serait demandée par une quelconque autorité publique compétente. Nous nous réservons également le droit de bloquer tous les fonds dont nous soupçonnons qu'ils sont liés à une activité illicite ou frauduleuse, en lien avec un possible blanchiment.</p>
			<h3>3.4</h3>	
			<p>Vous ne pouvez pas vous inscrire sur le Site, ouvrir un Compte Bet Trophy et à fortiori utiliser nos Services si vous ou un membre de votre foyer familial est ou a été, au cours des deux (2) dernières années précédant votre inscription un salarié de Bet Trophy, ou si vous, ou la société pour laquelle vous travaillez, êtes lié(e) par un contrat de fourniture ou prestation de services à Bet Trophy (comme par exemple un contrat de fourniture de logiciels de jeux).</p>
			<h3>3.5</h3>
			<p>Vous ne pouvez détenir qu'un seul Compte chez Bet Trophy. Nous nous réservons le droit de clôturer tous les Comptes multiples ouverts au même nom ou imputables à la même personne. Si nous avons des raisons de croire que vous avez commis ou tenté de commettre une fraude, nous nous réservons néanmoins le droit d'annuler toute transaction, bonus ou promotion y afférent et de fermer votre Compte, sans préjudice de toute autre action que nous pourrions engager à votre encontre. Dans ce cas, le solde éventuel de votre Compte ne vous sera pas reversé automatiquement.</p>
			<h3>3.6</h3>
			<p>Vous ne pouvez pas faire de demande d'ouverture de Compte Bet Trophy si vous êtes domicilié dans un territoire depuis lequel l'ouverture d'un Compte et/ou l'utilisation de nos Services est illégale ou contraire à la loi applicable (« Territoires Interdits »). Il est de votre responsabilité de vous assurer que tel n'est pas le cas. Nous nous réservons le droit de suspendre immédiatement votre Compte si nous découvrons que votre Compte a été ouvert ou utilisé dans un Territoire Interdit. Ceux-ci incluent les pays étrangers régulés, notamment la Belgique, la Bulgarie, l'Italie, le Royaume-Uni, l'Espagne, le Danemark, et les pays où le jeu est interdit, notamment l'Afghanistan, la Biélorussie, la Chine, l'Égypte, l'Irak, l'Iran, Israël, la Lybie, la Malaisie, la Russie, Singapour, le Soudan, la Syrie, la Thaïlande, la Tunisie, la Turquie et les États-Unis d'Amérique...</p>
			<h3>3.7</h3>
			<p>Vous comprenez et acceptez qu'en aucun cas nous ne garantissons que l'utilisation du Site est légale en dehors de la France, et qu'il est de votre responsabilité de vous assurer de la légalité de vos actions. Nous ne pouvons pas fournir d'avis juridique quant à la légalité des jeux sur Internet dans votre pays de résidence, ni ne pouvons accepter une quelconque part de responsabilité dans toute sanction qui vous serait imposée par l'autorité publique compétente suite à une utilisation jugée illégale de ce Site en application de la réglementation de cet Etat.</p>
			<h3>3.8</h3>
			<p>Lors de votre inscription et de l'ouverture de votre Compte Bet Trophy, vous êtes amené à renseigner un certain nombre d'informations vous concernant et à encadrer votre capacité de jeu en déterminant un plafond hebdomadaire pour les dépôts effectués sur votre Compte, un plafond hebdomadaire (fixé sur 7 jours glissants) pour vos mises et un seuil de retrait automatique. Le retrait automatique en cas de dépassement du seuil s'applique à votre Compte Bet Trophy. Il est à noter que vous pouvez à tout moment modifier les paramètres d'encadrement de votre capacité de jeu en augmentant ou en réduisant lesdits plafonds. Il convient de noter que conformément à la législation, toute réduction de ces limites prend effet immédiatement alors que toute augmentation ne prend effet au plus tôt que dans un délai de deux jours francs à compter de cette modification.</p>
			<h4>3.8.1</h4>
			<p>Les informations personnelles collectées lors de l'ouverture de votre Compte Bet Trophy sont votre mot de passe, les références du compte bancaire, aucunes références de compte bancaire ne seront demandée sur le site, toute transactions seront faites via la plate-forme de paiement en ligne PayPal.</p>
			<h4>3.8.2</h4>
			<p>Le pseudonyme et/ou le nom que vous choisissez ne doivent pas être déjà utilisés, obscènes, menaçants, racistes, offensants, péjoratifs, diffamatoires ou en violation de la propriété intellectuelle ou du droit de propriété d'un tiers. Si nous venons à considérer que le pseudonyme et/ou le nom choisi par vous est inadéquat, nous nous réservons le droit de refuser votre demande d'inscription ou d'empêcher à tout moment votre utilisation d'un tel pseudonyme et/ou nom sur le Site sans avoir à vous en informer préalablement.</p>
			<h3>3.9</h3>
			<p>Une fois votre Compte créé, votre retrouverez sur le Site dans l'onglet "Mon Compte" notamment vos coordonnées, ainsi que le montant de votre porte-monnaie.</p>
			<h2 id="TRAITEMENT">4. Traitement de vos données personnelles</h2>
			<h3>4.1</h3>
			<p>Vos informations personnelles sont utilisées par Bet Trophy et les autres sociétés du groupe dans le respect de la législation en vigueur pour créer et gérer votre Compte.</p>
			<h3>4.2</h3>
			<p>Conformément à la Réglementation, vos données personnelles peuvent être communiquées à l'ARJEL, à des organismes certificateurs ou à une quelconque autorité compétente.</p>
			<h3>4.3</h3>
			<p>Conformément à la loi n°78-17 du 6 Janvier 1978 dite Informatique et Libertés, vous bénéficiez d'un droit d'accès et de rectification des informations vous concernant, que vous pouvez exercer en vous reportant dans la rubrique « Mon compte » de votre Compte. La modification de certaines informations est soumise à des restrictions (à titre d'exemple, le changement du pseudo n'est ainsi pas autorisé).</p> 
			<h3>4.4</h3>
			<p>Vous êtes averti que les interactions entre vous et Bet Trophy (l’utilisation des sites web et emails) peuvent être enregistrées. Ces enregistrements sont la propriété de Bet Trophy. Ils peuvent être utilisés comme preuve en cas de conflit, ou pour améliorer l'aide aux clients.</p>
			<h4>4.5.1</h4>
			<p>La demande d'ouverture d'un compte joueur emporte renonciation à l'exercice du droit de s'opposer à ce que ses données à caractère personnel fassent l'objet d'un traitement.</p>
			<h2 id="DEVISES">5. Devises monétaires</h2>
			<h3>5.1</h3>
			<p>Les transactions doivent être effectuées en Euros (EUR/€).</p>
			<h3>5.2</h3>
			<p>Pour les paris, 1 seul et unique type de devise peut être utilisée :</p>
			<h4>5.2.1</h4>
			<p>Les stylos, qui correspondent au seul moyens de mises possible, toutes transactions sont gérée avec cette « monnaie », bien entendu un joueur peut demander de récupérer ses gains en argent sous forme de cadeaux ou de bons d’achats.</p>
			<h2 id="DEPOTS">6. Dépôts et retraits</h2>
			<h3>6.1</h3>
			<p>Le dépôt minimum sur votre Compte Bet Trophy est de deux euros et soixante-six centimes (2.66). Vous avez la possibilité de déposer à tout moment, dans la limite du plafond que vous vous êtes fixé, en utilisant votre carte bancaire, ou tout système de paiement du type porte- monnaie électronique ou du type cartes prépayées.</p>
			<h3>6.2</h3>
			<p>Une fois que votre compte Bet Trophy est définitif, vos fonds peuvent être retirés à tout moment. Néanmoins, il ne peut être fait usage de votre Compte Bet Trophy comme d'un compte bancaire. Dans le cas de dépôts et de retraits sans action de jeu ou de pari ou d'actions de jeu ou de pari portant sur des proportions infimes des dépôts initiaux, Bet Trophy se réserve le droit de demander de clôturer votre compte Bet Trophy</p> 
			<h3>6.3</h3>
			<p>Les sommes créditées sur votre Compte ne peuvent être transférées sur le Compte d'un autre utilisateur du Site.</p>
			<h3>6.4</h3>
			<p>Le retrait minimum est de cinq (5) euros. Tout retrait de votre Compte d'un montant supérieur ou égal à quinze (15) Euros est gratuit. Pour tout retrait inférieur à quinze (15) Euros, ou pour tout autre retrait effectué au cours de la même semaine (7 jours glissants) que celle d'un premier retrait, des frais administratifs d'un montant de cinq (5) euros par retrait peuvent vous être imputés. Ces frais seront automatiquement déduits de la somme transférée du Compte Bet Trophy à votre Compte Bancaire de Paiement.</p>
			<h3>6.5</h3>
			<p>Tout transfert de fonds de votre Compte Bet Trophy s'effectuera par remise de cadeau et / ou de bons d’achats. Aucun transfert de fonds n'est possible via un autre mode de paiement.</p>
			<h2 id="UTILISATION">7. Utilisation de votre Compte joueur BetTrophy.fr</h2>
			<h3>7.1</h3>
			<p>Votre Compte Bet Trophy est strictement personnel. Vous ne laisserez pas d'autres personnes utiliser votre Compte, parier ou jouer via votre Compte, ou l'utiliser pour accepter le paiement des gains, des bonus ou des lots en nature. En particulier, vous vous assurerez que les mineurs et les autres personnes vulnérables de votre entourage n'utilisent pas votre Compte.</p>
			<h3>7.2</h3>
			<p>Vous ne devez en aucun cas révéler vos identifiants à un tiers et vous serez jugé seul responsable de leur éventuelle utilisation abusive ou détournée.</p>
			<h3>7.3</h3>
			<p>Pour utiliser nos Services et effectuer une action de jeu ou de pari, vous devez renseigner votre pseudonyme et mot de passe.</p>
			<h3>7.4</h3>
			<p>Les actions de jeu effectuées par le client ne sont valides qu’une fois prises en compte par notre système. Il peut y avoir un délai entre l’action du client et cette prise en compte.</p>
			<h3>7.5</h3>
			<p>Une fois votre pari validé, vous n'êtes pas autorisé à en demander l'annulation. Bet Trophy peut procéder à tout moment à l'annulation de paris en cours dans le cas d'une demande de l’Autorité de Régulation (ARJEL), de l’application des conditions particulières du pari concerné, ou de suspicion de fraude.</p>
			<h3>7.6</h3>
			<p>Pour placer un pari ou une action de jeu vous devez avoir des fonds suffisants sur votre Compte. En outre, le montant de votre pari ne saurait excéder le plafond hebdomadaire de vos mises. Le jeu à crédit est interdit par la loi.</p>
			<h3>7.7</h3>
			<p>Bet Trophy interdit formellement l'usage de robots, automates, appareils mécaniques, appareils électroniques ou tout autre appareil permettant des décisions automatiques sur n'importe quels jeux ou paris proposés sur le Site, qu'une telle utilisation soit tentée ou effectuée par vous ou par une tierce personne. Dans le cas où Bet Trophy suspecterait l'utilisation d'un tel appareil sur le Site, Bet Trophy se réserve le droit de suspendre le Compte du joueur en question durant toute investigation et de clôturer le Compte à sa seule discrétion. Bet Trophy considère l'utilisation de tels appareils comme une tentative de fraude et se réserve le droit, dans un tel cas, d'annuler tout pari ou jeu en cours.</p>
			<h3>7.8</h3>
			<p>En cas de force majeure, Bet Trophy se réserve le droit de modifier, d’annuler, de suspendre ou d’arrêter tout type de paris ou de jeu, de concours, tournois ou promotions proposés à tout moment et sans préavis.</p>
			<h3>7.9</h3>
			<p>Toute réclamation relative à l'historique de votre Compte ou à son solde doit nous parvenir dans les 14 jours suivant la date de parution de l’information sur le site. L'utilisation continue du Site au-delà de cette période de 14 jours sera considérée comme valant acceptation desdits relevés par vous.</p>
			<h2 id="DESACTIVATION">8. Désactivation et clôture de Compte</h2>
			<h3>8.1</h3>
			<p>Dans le cas où vous méconnaîtriez l'une des dispositions des présentes Conditions Générales, nous nous réservons le droit, à tout moment, sans avertissement préalable, et sans préjudice de toutes procédures subséquentes qui peuvent être initiées, de suspendre votre Compte Bet Trophy, de vous refuser l'accès à l'ensemble ou à une partie de nos Services, en particulier de refuser un pari, une action de jeu ou une transaction, ou de retirer nos offres promotionnelles dans l'attente de l'issue de toutes les procédures. Si nous suspectons et/ou estimons que vous avez utilisé le Site à des fins de blanchiment d'argent, tout solde positif existant sur votre Compte Bet Trophy pourra être bloqué. De même dans le cas d'une suspicion de fraude ou d'un comportement agressif ou injurieux vis-à-vis de nos employés, nous nous réservons le droit de clôturer votre Compte. Nous nous réservons également le droit de clôturer votre Compte Bet Trophy dans l'hypothèse où votre RIB laisse apparaître que vous faites l'objet d'une mesure de tutelle. Nous nous réservons enfin le droit de refuser l'utilisation de moyens de paiement ayant fait l'objet d'une répudiation antérieure chez nous et/ou le cas échéant de procéder à la fermeture du Compte Bet Trophy associé.</p>
			<h3>8.2</h3>
			<p>En cas de clôture du Compte Définitif à notre initiative, nous procèderons au transfert dans les meilleurs délais de vos fonds et vous informerons par tous moyens, du montant des sommes transférées, de la clôture du Compte et du motif de cette clôture dans un délai de trois (3) jours ouvrés.  Par exception, Bet Trophy se réserve le droit de suspendre le versement de vos fonds sur votre Compte Bancaire de Paiement en cas de suspicion de blanchiment d'argent.</p>
			<h3>8.3</h3>
			<p>Tout Compte Définitif qui n'aura fait l'objet d'aucune action de jeu ni de pari pendant un an sera immédiatement clôturé, conformément à l'article 7 du décret 2010-518. Vous serez alors averti par email de la clôture de votre Compte, de la raison de cette clôture, et du solde disponible sur votre Compte à la date de cette clôture. Le solde créditeur restant sur votre Compte, après déduction de frais de gestion d’un montant de cinq (5) euros, vous sera restitué par virement bancaire. Si le solde du Compte à la date de clôture est inférieur à cinq (5) euros, vous ne pourrez pas le récupérer.</p>
			<h3>8.4</h3>
			<p>Vous êtes autorisé à clôturer votre Compte Bet Trophy à tout moment. Il existe un seul dispositif qui permet la clôture du Compte à votre initiative :   - fermeture définitive</p>  
			<h4>8.4.1</h4>
			<p>Fermeture définitive  Lorsque vous choisissez la fermeture définitive, vous devez choisir une raison parmi les choix suivants :  •    les paris sportifs  •    Je préfère jouer sur un site concurrent •    Je suis déçu(e) par vos offres commerciales / vos promotions •    Je suis déçu(e) par la qualité de votre site / de vos produits •    Je suis déçu(e) par la qualité du service client •    Vos méthodes de paiement et retrait ne me conviennent pas •   J'ai du mal à contrôler mes dépenses lorsque je joue  Une fois votre compte fermé, vous pourrez toujours ouvrir un nouveau compte sur Bet Trophy, à condition de suivre à nouveau le processus complet d'ouverture de compte. </p>
			<h4>8.4.2</h4>
			<p>Si votre Compte Bet Trophy comporte un solde positif, nous procéderons au virement de ces fonds (à la date de clôture).</p>
			<h4>8.4.3</h4>
			<p>Dans les cas de clôture définitive de votre compte définitif, vous êtes informé du motif de la fermeture de votre compte et le cas échéant, du solde qui vous est reversé.</p>
			<h3>8.5</h3>
			<p>Dans le cas où vous êtes inscrit sur la liste des interdits de jeu du Ministère de l'Intérieur, votre compte sera clôturé, conformément aux dispositions règlementaires en vigueur.</p>
			<h3>8.6</h3>
			<p>A compter de la clôture du Compte, par Nous ou par Vous, vous convenez et reconnaissez que :</p>
			<h3>8.6.1</h3>
			<p>Le droit d'utiliser le logiciel mis à votre disposition, qui est notre propriété et/ou que nous avons créé et /ou que nous utilisons en vertu d'une licence (« le Logiciel »), cesse immédiatement ;</p>
			<h4>8.6.2</h4>
			<p>Vous cesserez toute utilisation du Logiciel ;</p>
			<h4>8.6.3</h4>
			<p>Vous enlèverez et supprimerez de manière permanente le Logiciel de votre ordinateur, unités de disque dur, réseaux et de toute autre matériel de stockage.</p>
			<h3>8.7</h3>
			<p>A compter de la clôture du Compte Bet Trophy, par Nous ou par Vous, sauf disposition contraire et sous réserve de tous les droits ou obligations nés préalablement à cette clôture, nous serons mutuellement déchargés de toute obligation l'un envers l'autre.</p>
			<h3>8.8</h3>
			<p>A compter de la clôture du Compte Bet Trophy, par Nous ou par Vous, et conformément aux dispositions légales en vigueur, vos données personnelles sont conservées pendant une période de six (6) ans, conformément au décret 2010-509, article 10. À l'expiration de ce délai, Bet Trophy s'engage à détruire vos données personnelles.</p>
			<h3>8.9</h3>
			<p>Veuillez noter qu'en tout état de cause votre Compte Bet Trophy ne sera pas clôturé tant qu'il ne l'aura pas été par Nous ou par Vous comme spécifié ci-dessus.</p>
			<h2 id="PRELEVEMENTS">9. Prélèvements sur les Jeux et Paris</h2>
			<h3>9.1</h3>
			<p>Pour votre information, les sommes que vous misez dans le cadre des paris sont soumises aux prélèvements suivants :</p>
			<h4>9.1.1</h4>
			<p>Un prélèvement fiscal de 5,7% sur les mises relatives aux paris ;</p>
			<h4>9.1.2</h4>
			<p>Un prélèvement social de 1,8% sur les mises relatives aux paris sportifs ;</p>
			<h3>9.2</h3>
			<p>Nous prenons en charge la totalité de ces prélèvements.</p>
			<h2 is="IMPOTS">10. Impôts</h2>
			<h3>10.1</h3>
			<p>Il est de votre responsabilité de pourvoir au paiement de tous les impôts et taxes applicables à vos gains le cas échéant ou autres sommes qui vous auraient été reversées.</p>
			<h2 id="ACTIVITES">11. Activités promotionnelles</h2>
			<h3>11.1</h3>
			<p>En acceptant un prix et/ou des gains sur le Site, vous consentez à l'utilisation par Bet Trophy de votre nom d'utilisateur, de votre prénom et de l'initiale de votre nom de famille à des fins publicitaires et promotionnelles sans aucune contrepartie additionnelle.</p>	
			<h2 id="jeu">12. Jeu responsable</h3>
			<h3>12.1</h3>
			<p>Le jeu doit rester une activité de divertissement et vous ne devez pas avoir un espoir de gains déraisonnables de gains sur le Site.</p>
			<h3>12.2</h3>
			<p>Bet Trophy vous fournit un Site sûr et responsable et met à votre disposition des modérateurs de dépôt, de mise et un mécanisme de retrait automatique afin que vous encadriez votre capacité de jeu, conformément au décret 2010-518 article 16. Nous proposons également à ceux qui se sentiraient dépendants au jeu, un accès à des professionnels de l'addiction qui pourront les aider.</p>
			<h3>12.3</h3>
			<p>Lors de toute création de Compte, il vous est demandé de renseigner ces modérateurs. Aucune transaction ne sera réalisée avant que vous ne renseigniez ces seuils.  Vous avez à tout moment la possibilité de modifier les montants de vos plafonds de dépôt, de mise, de retrait ainsi que le montant à conserver sur le compte et la durée de votre période d'auto-exclusion. Si la modification va dans le sens d'un renforcement de votre protection, que ce soit par le biais d'une diminution du seuil d'approvisionnement de votre compte et des mises de paris ou d'un allongement de la période d'auto-exclusion, ce changement prendra effet immédiatement. Dans le cas contraire, le changement concernant le seuil des mises et des dépôts prendra effet au plus tôt dans un délai de deux (2) jours à compter de la date de votre requête.</p>
			<h3>12.4</h3>
			<p>Si nous venons à suspecter chez vous un comportement de jeu problématique, nous nous réservons le droit de fermer votre Compte et ainsi de vous reverser sur votre compte bancaire le cas échéant, le solde créditeur (sous réserve que nous soyons en possession des justificatifs exigés réglementairement).</p>
			<h2 id="PROPRIETE">13. Propriété intellectuelle</h3>
			<h3>13.1</h3>
			<p>Toutes les marques déposées, brevets et autres droits de propriété intellectuelle sur tout matériel ou contenu du Site (incluant notamment les logiciels, données, applications, informations, textes, photographies, musiques, bruits, vidéos, graphiques, logos, symboles, dessin-modèles et autres images) (« Contenu ») nous appartiennent ou bien ont vu leur usage concédé par leur titulaire en tant qu'élément du Service. Aucune utilisation de ce Contenu et des droits de propriété intellectuelle y afférant n'est autorisée sans avoir préalablement requis notre consentement écrit et exprès. Tous ces droits sont expressément réservés.</p>
			<h3>13.2</h3>
			<p>Vous acceptez en particulier, concernant tout ou partie du Contenu, de ne pas vous engager dans les activités interdites énumérées ci-dessous (ensemble, les « Activités Prohibées ») :</p>
			<h4>13.2.1</h4>
			<p>Le vendre, céder, concéder, ou conclure tout acte permettant aux tiers d'y accéder, hors de la limite expressément autorisée ;</p>
			<h4>13.2.2</h4>
			<p>Le changer, l'éditer, le modifier, le restructurer ou l'adapter de n'importe quelle manière que ce soit ;</p>
			<h4>13.2.3</h4>
			<p>Le copier, le redistribuer, procéder ou tenter d'accéder au code source peu important le but ;</p>
			<h4>13.2.4</h4>
			<p>Utiliser le Site de manière et/ou dans un but contraire à ces Conditions générales, et plus généralement dans un but contraire aux lois.</p>
			<h3>13.3</h3>
			<p>Vous reconnaissez être entièrement responsable de tous les dommages, coûts et dépenses qui découleraient de la réalisation de l'une des Activités Prohibées.</p>
			<h3>13.4</h3>
			<p>Nous vous accordons le droit personnel non-exclusif, non transmissible et non-cessible de regarder et d'utiliser le Contenu par l'intermédiaire de votre PC, téléphone mobile, ou tout autre dispositif d'accès, dans un but privé et non-commercial, et ce sous réserve de votre stricte observation des présentes Conditions Générales.</p>
			<h3>13.5</h3>
			<p>De même vous pouvez copier le Contenu sous une forme inchangée pour un usage privé sur votre propre PC, téléphone portable ou tout autre dispositif d'accès, si, et dans la mesure où, une telle copie est exigée par l'usage approprié de nos Services et que l'autorisation d'une telle copie vous a été donnée.</p>
			<h3>13.6</h3>
			<p>Vous vous engagez à nous faire part immédiatement de toute utilisation ou de toute copie non autorisées de tout ou partie du Contenu du Site, incluant notamment toute Activité Prohibée, dont vous seriez informés. Vous acceptez de nous aider dans toute la mesure du possible à vérifier les informations que vous fournissez.</p>
			<h3>13.7</h3>
			<p>Vous reconnaissez que Bet Trophy a le droit de limiter, de refuser, de mettre à jour ou d'annuler tout ou partie des fonctionnalités du logiciel de poker à tout moment. Bet Trophy peut exiger, comme condition de votre accès continu à ses services, que vous acceptiez les améliorations, corrections, adaptations et modifications des versions récentes du logiciel, ou tout autre changement apporté au logiciel.</p>
			<h2 id="INDEMNITE">14. Indemnité</h2>
			<h3>14.1</h3>
			<p>Vous vous engagez à indemniser (honoraires d'avocats et frais irrépétibles compris) et défendre Bet Trophy contre toute action découlant d'une utilisation du Site par vous ou tout tiers utilisant vos identifiants et qui serait contraire aux droits des tiers, aux présentes Conditions Générales et aux textes s'y référant, et plus généralement à toute loi et règlement.</p>
			<h2 id="LIMITATION">15. Limitation de responsabilité</h2>
			<h3>15.1</h3>
			<p>Sans limiter la portée des autres dispositions de ces Conditions Générales et dans le respect des dispositions légales en vigueur, vous acceptez que nous ne sommes en aucun cas responsables, envers vous ou tout tiers, sur un fondement de responsabilité civile contractuelle et/ou délictuelle, pour des faits involontaires ou indépendants de notre volonté, de tout préjudice direct ou indirect et de toute perte de revenus résultant notamment de :</p>
			<h4>15.1.1</h4>
			<p>Votre utilisation du Site ;</p>
			<h4>15.1.2</h4>
			<p>Votre utilisation des sites partenaires de Bet Trophy, accessibles via les liens publiés sur le Site ;</p>
			<h4>15.1.3</h4>
			<p>Tout retard ou interruption des Services, toute erreur dans l'information ou les services fournis, comme par exemple l'entrée et la transmission de données, toute perte de données liée à une interruption de communication ou du réseau, toute transmission accidentelle d'un virus ou d'autres agents nuisibles, toute utilisation non autorisée ou abusive de votre Compte, ou tout cas de force majeure.</p>
			<h4>15.1.4</h4>
			<p>Toute erreur logicielle.</p>
			<h2 id="ERREURS">16. Erreurs Logicielles</h2>
			<h3>16.1</h3>
			<p>En cas d'erreur ou de défaillance logicielle dont la preuve est apportée par Bet Trophy, sur l'un de ses systèmes ou l'un de ceux fournis par l'un de ses fournisseurs, les paris ou les jeux concernés seront annulés quel que soit la plateforme en cause (Sport, Turf, Poker). Dans ce cas, la totalité de la somme engagée sera re-créditée sur votre Compte.</p>
			<h2 id="PLAN">17. Plan de reprise d'activité</h2>
			<h3>17.1</h3>
			<p>Nous nous réservons le droit de transférer, dans le respect de la Réglementation, l'exploitation du Site vers nos serveurs de secours en cas de sinistre.</p>
			<h2 id="SERVICE">18. Service client</h2>
			<h3>18.1</h3>
			<p>Bet Trophy reste disponible à tout moment pour répondre à vos questions et vous apporter l'aide dont vous avez besoin. Pour fournir un meilleur service et par mesure de sécurité, veuillez noter que les conversations téléphoniques sont susceptibles d'être enregistrées.</p>
			<h3>18.2</h3>
			<p>Nous ne tolérerons aucun comportement insultant, abusif ou violent ou à l'encontre de nos salariés. Nous nous réservons le cas échéant le droit de suspendre et/ou de clôturer votre Compte, et/ou de prendre toutes les autres mesures appropriées.</p>
			<h2 id="LANGUE">19. Langue</h2>
			<h3>19.1</h3>
			<p>Les Services du Site ne sont accessibles qu'en langue française.</p>
			<h2 id="MODIFICATION">20. Modification des Conditions Générales</h2>
			<H3>20.1</H3>
			<p>Bet Trophy se réserve le droit de modifier et de mettre à jour à tout moment les présentes Conditions Générales. De tels changements auront valeur obligatoire et produiront leurs effets dès que vous les aurez acceptés à l'occasion de votre prochaine connexion sur le Site. Vous convenez qu'il est de votre responsabilité de connaître les Conditions Générales en vigueur.</p>
			<h2 id="LOI">21. Loi applicable</h2>
			<h3>21.1</h3>
			<p>Les présentes Conditions Générales sont régies en tous points par les lois françaises, en particulier par la Réglementation.</p>
			<h3>21.2</h3>
			<p>Les juridictions françaises sont exclusivement compétentes pour régler tout conflit qui découlerait de l'interprétation ou de l'exécution des présentes Conditions Générales.</p>
		</article>
	</section>