<section id="home">
	<article class="top">
		<header>
			<ul>
				<li><a href="#">Accueil</a></li>
				<li><a href="#">Connexion</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</header>
	</article>

	<h1>4l trophy</h1>
	<a href="/auth/facebook">Connection facebook</a> <br>
	<a href="/bet">Les pari</a> <br>
	Here we go!	
</section>
