<section id="mentions">
	<article>
		<header>
			<h1>Régles</h1>
			<a href="/">Retourner sur le site</a>
		</header>
		<h2>1. Règlement des paris sportifs</h2>
		<p>Les présentes Règles de Jeux détaillent le fonctionnement des jeux proposés sur le Site, sous réserve des catégories et des types de paris autorisées légalement et réglementairement. </p>

		<h3>1.1 - Cote minimale & Formules de pari</h3>

		<h4>COTE MINIMALE</h4>
		<p>Seul un pari dont la cote minimale est de 0.19€ (soit 1 stylos) peut être effectué.
		Vous pouvez placer un pari de cote inférieure dans la mesure où vous le combinez avec d'autres paris et atteignez la cote minimale de 0.19€. </p>

		<h4>FORMULES DE PARI</h4>
		<p>En fonction du nombre de sélections choisies par le joueur, il existe différentes formules de paris possibles qui peuvent lui être proposées. </p>

		<h3>1.1.1 - Formules de pari simple</h3>
		<p>Un pari simple est une sélection unique dans un type de pari proposé pour une compétition sportive. La sélection doit être gagnante pour percevoir un gain. Si votre pari se réalise, vous gagnez la somme que vous avez misée, multipliée par la cote attribuée pour ce résultat par Bet Trophy. </p>

		<h3>1.1.2 - Formules de pari multiple</h3>

		<p>Chaque pari est totalement indépendant des autres paris formulés. On considère un pari une mise sur un des trois objectifs proposés sur la plateforme numérique. Si l’un des paris n’est pas atteint, il n’a aucun impact sur les autres paris formulés lors de la même épreuve.</p>

		<h2>1.2 - Règles générales pour les paris sportifs</h2>

		<h3>1.2.1</h3>

		<p>Principe général : un pari doit être réalisé à titre strictement individuel et de façon loyale.Tout Pari placé sur notre site lie les deux parties : Bet Trophy d'une part, et vous qui avez placé le pari de l'autre.<p> 

		<p>Chaque pari est considéré comme valable dès que vous confirmez votre pari sur notre site et dès que l'enjeu confirmé apparaît dans votre Compte. Une fois le pari confirmé, vous ne pouvez plus le décommander, ni le modifier. En jouant sur Bet Trophy, le client garantit qu'il est familier avec les règles. Tous les paris seront validés à la cote proposée lors du placement du pari. Bet Trophy se réserve le droit de modifier les cotes à tout moment ainsi que de suspendre ou clôturer les paris sur les événements avant l’horaire initialement programmé.</p> 

		<p>Tout joueur inscrit sur Bet Trophy doit placer ses paris en tant que joueur individuel et à parier de façon loyale. Ainsi, toute transaction effectuée de manière répétée comportant les mêmes sélections, qu'elles proviennent du même utilisateur ou pas, pourront être annulées par Bet Trophy s'il existe une suspicion de paris mis en commun, collusion entre joueurs et/ou prises de jeu validées dans un délai considéré anormalement très court, et notamment par combinaison d'un bonus de bienvenue ou promotionnel avec un ou plusieurs paris qui, quel(s) que soi(en)t leur résultat respectif, aboutissent à un gain garanti, sont strictement interdits.</p>

		<p>Face à de tels actes et comportements de jeu frauduleux, Bet Trophy se réserve alors le droit d'annuler ces paris et d'annuler le bonus de bienvenue ou promotionnel éventuellement utilisé, de bloquer toute transaction financière pendant la période d'investigation et pourra considérer la conservation des fonds d'un utilisateur pour lequel la présomption d'acte de jeu frauduleux aura été avérée.</p>
		<p>
		En plaçant un pari, vous reconnaissez que : lorsque nous avons une raison de croire qu'un pari a été placé après que le résultat d'un événement ait été connu 

		(même si le résultat est connu de la seule personne ayant placé le pari) nous nous nous réservons le droit d'annuler le/les pari(s) concerné(s) ; vous ne placez pas de paris sur un événement dans lequel vous êtes directement ou indirectement impliqué, à quelque titre que ce soit. Dans le cas contraire, nous nous réserverons le droit d'annuler les paris concernés et de transmettre les détails de ce pari aux autorités compétentes ; dans le cas où une annonce et/ou une information permettant de rendre le résultat d'une compétition prédictible serait rendue publique au cours de la période d'acceptation de pari et/ou si une information dans le domaine public en relation avec le pari ou avec le type de pari peut significativement altérer les cotes de n'importe quel pari, Bet Trophy s’accorde le droit d’annuler le pari concerné à sa seule discrétion. Dans le cas de paris simples, cette annulation signifie le remboursement de la mise sur le compte d'utilisateur. Dans un pari combiné, le pari combiné n'est pas annulé, mais la cote totale sera calculée sans tenir compte de la cote du pari qui a été déclaré nul, pour lequel la cote sera fixée à 1,00.</p>

		<h3>1.2.2</h3>

		<h4>Réglementation</h4>

		<p>Les règlements des paris sportifs décrits ci-dessous sont susceptibles d'être modifiés, en fonction de l'évolution du cadre législatif et réglementaire français. </p>

		<h4>Horaire des événements et avantage déloyal</h4>

		<p>Les paris sont ouverts jusqu'à l'heure indiquée sur le site Internet, correspondant en règle générale à l'heure du début de l'événement, sauf dans le cas d'événements offrant l'opportunité de parier en direct.

		<p>Bet Trophy se réserve le droit d'annuler tout pari en direct pour lequel celui-ci est suspecté d'avoir été placé avec un avantage déloyal.</p>

		<h4>Cotes fixes</h4>

		<p>Toutes les cotes sont sujettes à variations et sont fixées au moment où un pari est placé. Sauf en cas de force majeure, Bet Trophy ne pourra corriger ultérieurement les erreurs dans la fixation de la cote.</p>

		<h4>Résultat</h4>

		<p>Le résultat annoncé à l'issue de l'événement sera considéré comme le résultat officiel, indépendamment de toutes les disqualifications et pénalités ultérieures possibles.</p>

		<p>Qui gagne ? Dans le cas où personne ne trouve la réponse exacte, les trois résultats les plus proches seront désignés gagnants. Dans le cas où au moins une personne trouve le bon résultat, seuls les bons résultats sont pris en compte et donc désignés gagnant.Récolte d’une marge sur les parisLorsqu’un pari est lancé, une certaine somme est récoltée telle que : Sur le pari A, 100 joueurs ont investi 10 stylos chacun. Cela porte la cagnotte à 1 000 stylos.La cagnotte bougera jusqu’à l’annonce des résultats. Une fois les résultats annoncés, 10 personnes ont gagnés. La cagnotte est alors partagée selon la règle des 80-20. Ainsi 20% des 1 000 stylos, soit 200 stylos reviennent à l’association et 80% de la somme restante, soit 800 stylos sont partagés entre les vainqueurs. Chaque joueur reçoit alors 80 stylos soit 8 fois leur mise investie.Les probabilités sont fortes pour que les gagnants réinvestissent dans un prochain pari, 20% seraient alors prélevé, etc.A la fin de l’aventure, la somme des marges récoltées lors des paris ainsi que les donations des joueurs constituera la cagnotte en faveur de l’association.

		<h3>1.3 Alimentation du compte</h3>
		
		<h4>1.3.1</h4>

		<p>Prix du stylo : Afin d’alimenter son compte en stylos (monnaie utilisée sur la plateforme Bet Trophy), l’utilisateur devra sélectionner une somme de stylos à acquérir qui lui seront facturés à hauteur de 0.19€ par stylo. 

		<h4>1.3.2</h4>

		<p>Montant minimal : Le montant minimal dans le cadre d’alimentation de compte est de 14 stylos par transactions soit une facture de 2,66€ pour l’utilisateur. L’utilisateur sera libre de choisir le montant de stylos à acquérir pour alimenter son compte dans la mesure où la somme minimale de stylos sélectionnés ne descend pas en dessous de 14 stylos.</p>

		<h4>1.3.3</h4>

		<p>Moyen de payement : Toute transaction monétaire entre l’utilisateur et Bet Trophy se réalise à travers le service en ligne Paypal. Les facturations du service Paypal sont à la charge de Bet Trophy et ne seront pas présentés en tant que frais supplémentaires à l’utilisateur.</p>
	</article>
</section>