article.remodal {
	width: 600px;
	&.connexion {
		height: 500px;
	}
	&.signup {
		height: 510px;
	}
	&.successful {
		background-color: $orange;
		color: $white;
	}
	a.remodal-close {
		position: absolute;
		width: 30px;
		height: 30px;
		top: 40px;
		right: 30px;
		cursor: pointer;
		span {
			transition: all 0.2s ease-in-out;
			display: block;
		    width: 30px;
		    height: 3px;
		    background-color: $grayNight;
			&:nth-child(1) {
				-webkit-transform: translateX(-50%) rotate(45deg);
				transform: translateX(-50%) rotate(45deg);
			}
			&:nth-child(2) {
				position: relative;
				bottom: 3px;
				-webkit-transform: translateX(-50%) rotate(-45deg);
				transform: translateX(-50%) rotate(-45deg);
			}
		}
		&:hover {
			span {
				background-color: $black;
			}
		}
	}
	h3 {
		font-weight: 600;
		font-size: 40px;
		line-height: 20px;
		margin-bottom: 0px;
		text-align: center;
	}
	p.information {
		font-size: 13px;
		padding-top: 7px;
		text-transform: uppercase;
		margin-bottom: 0px;
	}
	form {
		div.account, div.mdp {
			padding-top: 10px;
			padding-bottom: 5px;
		}
		label {
			font-size: 12px;
			width: 100%;
			text-transform: uppercase;
			display: inline-block;
			padding-bottom: 10px;
			&:before {
				opacity: 0.7;
				content: "";
			    width: 31%;
			    height: 3px;
			    background-color: $gray;
			    display: inline-block;
			    vertical-align: middle;
			    position: relative;
			    margin-right: 2%;
			}
			&:after {
				opacity: 0.7;
				content: "";
			    width: 31%;
			    height: 3px;
			    background-color: $gray;
			    display: inline-block;
			    vertical-align: middle;
			    position: relative;
			    margin-left: 2%;
			}
		}
		input {
			text-align: center;
			width: 440px;
			border: 0px;
			&:nth-child(2) {
				margin-bottom: 15px;
			}
			&:focus {
				outline: none;
			}
		}
		a.button_modal {
			display: block;
			margin: 0 auto;
			text-decoration: none;
			line-height: 40px;
			width: 440px;
			height: 40px;
			font-size: 12px;
			text-transform: uppercase;
			color: $gray;
			&.origin {
				background-color: $black;
			}
			&.fb {
				margin-top: 10px;
				background-color: $facebook;
			}
		}
	}
	p {
		text-align: center;
		font-size: 14px;
		a {
			font-weight: bold;
			text-decoration: none;
			color: $black;
		}
	}
}